{# The template inherits code from base.html #}
{% extends 'base.html' %}

{% block title %}
Login | Suggest | Analytics Vidhya
{% endblock title %}

{% block main_base  %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-offset-3 col-sm-6'>
            <br/>
            <br/>
            <div>
                <center>
                    <p class ="error" style="color:red;">{{ error_message }}</p>
                </center>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-offset-4 col-sm-4'>
            <div id="login">
                <form class="form-horizontal" name="LoginForm" action="{% url 'suggest:login' %}" method="post">
                    {% csrf_token %}
                    <center>
                    <div class="control-group">
                        <!-- <label class="form-control" for="username">Username/Email:</label> -->
                        <b>Username/Email:</b><input class="form-control" type="text" id="username" name="username"  placeholder="Username or Email">
                    </div>
                    <div class="control-group">
                        <!-- <label class="control-label" for="password">Password:</label> -->
                        <b>Password:</b><input type="password" name="password" class='form-control' id="password" placeholder="Password">
                    </div>
                    <div class='clearfix'>
                    </div>
                    <br/>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                    </center>
                </form>
                <br/>
                <center>
                    <div class="control-group">
                        <!-- <label class="control-label" for="name">Sign In with </label>
                        <div class="controls">
                            <input type="hidden" name="next" id="next" value="{{ next }}"/>
                        </div> -->
                        <div class='row'>
                            <a href="">
                                <button class='btn btn-success'>Login using LinkedIn</button>
                            </a>
                        </div>
                        <br/>
                        <div class='row'>  
                        <a href="{% url 'suggest:signup_view' %}">
                            <button class='btn btn-info'>SignUp</button>
                        </a> 
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock main_base %}